
<html>
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script type="text/javascript">
function conf()
{
var con=confirm("Sending the Response, Thanks for using EASY EMAIL");
}
</script>

<script data-cfasync="false" type="text/javascript"
src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>

</head>
<body>



<p align="center"><img src="https://raw.githubusercontent.com/ashoka-university/CS309-IR-Monsoon-2017-ByteTheCode/master/FrontEnd/static/EasyEmail_IR.png?token=AMewlIOyEYUuhAz2MfFXadTT7OIhHZavks5aKRwVwA%3D%3D" ></p>

<div class="card-deck">
  <div class="card">
    
    <div class="card-block">
      <h4 class="card-title">FIRST SUGGESTION</h4>



          <form id='gform1' method="POST" action="https://script.google.com/macros/u/0/s/AKfycbxpKMVWg4UnGs4HSn3nikh9bcaLHR4_JEGc1mONsps_a4KGuuf6/exec">
          <textarea type="sender" name="sender" class="card-text" rows="1" cols="35">{{email_sender}}</textarea>
          <textarea type="subject" name="subject" class="card-text" rows="1" cols="35">{{email_subject}}</textarea>
          <textarea type="name" name="name" class="card-text" rows="3" cols="35">{{freply1}}</textarea>
          <br><input type="submit" name="my-form" type="button" onclick="conf()" class="btn btn-primary" value="REPLY">
          </form>
    </div>
    <div class="card-footer">
      </div>
  </div>


  <div class="card">
    
    <div class="card-block">
      <h4 class="card-title">SECOND SUGGESTION</h4>


          <form id='gform1' method="POST" action="https://script.google.com/macros/u/0/s/AKfycbxpKMVWg4UnGs4HSn3nikh9bcaLHR4_JEGc1mONsps_a4KGuuf6/exec">
          <textarea type="sender" name="sender" class="card-text" rows="1" cols="35">{{email_sender}}</textarea>
          <textarea type="subject" name="subject" class="card-text" rows="1" cols="35">{{email_subject}}</textarea>
          <textarea type="name" name="name" class="card-text" rows="3" cols="35">{{freply2}}</textarea>
          <br><input type="submit" name="my-form" type="button" onclick="conf()" class="btn btn-warning" value="REPLY">
          </form>


    </div>
    <div class="card-footer">
      </div>
  </div>
  <div class="card">
    
    <div class="card-block">
      <h4 class="card-title">THIRD SUGGESTION</h4>

          <form id='gform1' method="POST" action="https://script.google.com/macros/u/0/s/AKfycbxpKMVWg4UnGs4HSn3nikh9bcaLHR4_JEGc1mONsps_a4KGuuf6/exec">
          <textarea type="sender" name="sender" class="card-text" rows="1" cols="35">{{email_sender}}</textarea>
          <textarea type="subject" name="subject" class="card-text" rows="1" cols="35">{{email_subject}}</textarea>
          <textarea type="name" name="name" class="card-text" rows="3" cols="35">{{freply3}}</textarea>
          <br><input type="submit" name="my-form" type="button" onclick="conf()" class="btn btn-info" value="REPLY">
          </form>

        </div>
    <div class="card-footer">
      </div>
  </div>
</div>


</center>
  </body>

</html>
