<html>
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>


<br><br><br><br><br><br><br><br>
<br><br><br><br>



<div class="card-deck">
  <div class="card">
    
    <div class="card-block">
      <h4 class="card-title">{{processed_subject}}</h4>
      <p class="card-text">{{processed_text}}</p>
    </div>
    <div class="card-footer">
      <center><a href="#1" class="btn"><button type="button" class="btn btn-primary">Option 1</button></a></center>
    </div>
  </div>


  <div class="card">
    
    <div class="card-block">
      <h4 class="card-title">SECOND SUGGESTION</h4>
      <p class="card-text">{{processed_text1}}</p>
    </div>
    <div class="card-footer">
      <center><a href="#2" class="btn"><button type="button" class="btn btn-warning">Option 2</button></a></center>
    </div>
  </div>
  <div class="card">
    
    <div class="card-block">
      <h4 class="card-title">THIRD SUGGESTION</h4>
      <p class="card-text">{{processed_text}}</p>
    </div>
    <div class="card-footer">
      <center><a href="#3" class="btn"><button type="button" class="btn btn-info">Option 3</button></a></center>
    </div>
  </div>
</div>

  </body>

</html>
